@model PowerPath.Application.DTO.MedidorDTO

<form asp-action="Salvar" asp-controller="Medidor" method="POST">
    <div class="Formulario">
        <input type="hidden" asp-for="IsAlteracao" />
        <div class="Linha">
            @if (Model.IsAlteracao.HasValue && Model.IsAlteracao.Value)
            {
                <div class="Campo">
                    <label asp-for="Instalacao">Instalação</label>
                    <input type="text" readonly asp-for="Instalacao" />
                </div>
                <div class="Campo">
                    <label asp-for="Lote">Lote</label>
                    <input type="number" readonly asp-for="Lote" />
                </div>
            }
            else
            {
                <div class="Campo">
                    <label asp-for="Instalacao">Instalação</label>
                    <input type="text" asp-for="Instalacao" />
                </div>
                <div class="Campo">
                    <label asp-for="Lote">Lote</label>
                    <input type="number" asp-for="Lote" />
                </div>
            }
        </div>
        <div class="Linha">
            <div class="Campo">
                <label asp-for="Operadora">Operadora</label>
                <select asp-for="Operadora">
                    <option></option>
                    @foreach (string operadora in (List<string>)ViewBag.Operadoras)
                    {
                        if (operadora.Equals(Model?.Operadora))
                        {
                            <option value="@operadora" selected>@operadora</option>
                        }
                        else
                        {
                            <option value="@operadora">@operadora</option>
                        }
                    }
                </select>
            </div>
            <div class="Campo">
                <label asp-for="Fabricante">Fabricante</label>
                <input type="text" asp-for="Fabricante" />
            </div>
        </div>
        <div class="Linha">
            <div class="Campo">
                <label asp-for="Modelo">Modelo</label>
                <input type="number" asp-for="Modelo" />
            </div>
            <div class="Campo">
                <label asp-for="Versao">Versão</label>
                <input type="number" asp-for="Versao" />
            </div>
        </div>
        <div class="Botoes">
            <button class="btn Salvar" type="submit">Salvar</button>
            <a class="btn Cancelar" asp-controller="Medidor" asp-action="Index">Cancelar</a>
        </div>
    </div>
</form>