@model PowerPath.Application.DTO.UsuarioDTO
@{
    ViewData["Title"] = "Power Path";
}

<section class="Login">
    <div class="Imagem">
        <img src="~/Asset/Login.jpg" />
        <div class="Sombra"></div>
    </div>
    <div class="Entrar">
        <div class="Container">
            <p>Power Path</p>
            <form asp-action="Home" asp-controller="Entrar" method="POST">
                <div class="Formulario">
                    <div class="Campo">
                        <label asp-for="Nome">Usuário</label>
                        <input type="text" asp-for="Nome" />
                    </div>
                    <div class="Campo">
                        <label asp-for="Senha">Senha</label>
                        <input type="password" asp-for="Senha" />
                    </div>
                </div>
                <div class="Botoes">
                    <button class="btn Entrar" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</section>