@{
    ViewData["Title"] = "Power Path";
}

<section class="Login">
    <div class="Imagem">
        <img src="~/Asset/Login.jpg" />
        <div class="Sombra"></div>
    </div>
    <div class="Entrar">
        <div class="Container">
            <p>Olá,<br/>Bem-vindo(a) ao <b>Power Path</b>!</p>
            <a class="btn" asp-controller="Home" asp-action="Medidores">Acessar</a>
        </div>
    </div>
</section>