@model PowerPath.Application.DTO.MedidorDTO
@{
    ViewData["Title"] = "Alterar medidor";
}

<partial name="_Navbar" />
<main>
    <div class="Titulo">
        <p>Alterar medidor</p>
    </div>
    <partial name="_Medidor" model="Model" />
</main>